<h1>Media File</h1>

<table class="table table-bordered table-striped">
<tr>
  <th>Path</th>
  <th class="col-md-2">Resolution</th>
</tr>
<% @media_files.each do |media_file| %>
<tr>
  <td><%= link_to media_file.path, media_file %></td>
  <td>
    <span class="label label-info"><%= resolution_label(media_file.width) %></span>
  </td>
</tr>
<% end %>
</table>

<%= will_paginate @media_files, renderer: BootstrapPagination::Rails %>
