<h1>TV-Shows</h1>

<table class="table table-striped table-bordered">
<% @tvshows.each do |tvshow| %>
<tr>
  <td><%= link_to tvshow.filename, tvshow %></td>
</tr>
<% end %>
</table>

<%= will_paginate @movies, renderer: BootstrapPagination::Rails %>
